:root {
    --tangelo: #ED7525;
    --lightblue: #92DCE5;
    --black: #001414;
    --whitesmoke: #F7F7F7;
    --whitecadet: #EAF2EF;
    --spacecadet: #202C59;
    --whiteshadow: rgb(247, 247, 247, 0.6);
}

html {
    background: var(--whitecadet);
    width: 100vw;
    overflow: hidden;
    color: var(--black);
}

body {
    margin: 0;
    padding: 0;
}

.mobileWarning {
    display: none;
}

.scoreBoard {
    padding: 10vw 0 0 0;
    text-align: center;
}

.scoreBoard team {
    display: inline-block;
    margin: 0 5vw;
    width: 25vw;
}

.scoreBoard team span {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 25%;
}

.scoreBoard team span.name {
    background: transparent;
    padding: 0;
    font-size: 32px;
    margin: 0 0 1vh 0;
    display: block;
    border-radius: 0;
}

.scoreBoard team span#homeBoard {
    background: var(--lightblue);
}

.scoreBoard team span#awayBoard {
    background: var(--tangelo);
}

.container {
    padding: 20vh 10vw 0 10vw;
}

.container .timeline {
    height: 15px;
    background: var(--black);
    position: relative;
}

.container .timeline span {
    height: 15px;
    width: 1px;
    transform: translateX(calc(var(--n) * 8vw));
    position: absolute;
    background: var(--whitesmoke);
    z-index: 10;
}

.container .timeline .goal {
    height: 25px;
    width: 10px;
    position: absolute;
    left: -5px;
    z-index: 10;
    border-radius: 50%;
    border: 0.5px solid var(--whitecadet);
    transition: all 1s ease;
}

.container .timeline .goal::after {
    content: attr(goal);
    display: block;
    width: 100px;
    height: 12px;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .5s ease;
    background: var(--whitesmoke);
    color: var(--black);
    padding: 5px;
    margin: 0;
    opacity: 0;
    z-index: 100;
}

.container .timeline .goal:hover::after {
    display: block;
    max-width: 100px;
    max-height: 12px;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    opacity: 1;
}

.container .timeline .goal.home {
    background: var(--lightblue);
    top: -20px;
}

.container .timeline .goal.home::after {
    transform: translate(15px, -10px);
}

.container .timeline .goal.away {
    background: var(--tangelo);
    top: 10px;
}

.container .timeline .goal.away::after {
    transform: translate(15px, 20px);
}

.container .timeline .goal.fadeOut {
    opacity: 0;
}

.container #fullWindowTimetableTrigger {
    display: block;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    margin: 10vw 0 0 0;
    transition: all 0.5s;
}

.container #fullWindowTimetableTrigger:hover {
    font-size: 24px;
    font-weight: 700;
    color: var(--spacecadet);
}

#fullWindowTimetablePopUp {
    display: none;
    background: var(--whiteshadow);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    cursor: pointer;
    opacity: 0;
    transition: all 1s ease;
}

#fullWindowTimetablePopUp timetable {
    display: block;
    background: var(--spacecadet);
    width: 80vw;
    height: 80vh;
    margin: 10vh auto;
    border-radius: 2.5%;
    text-align: center;
    position: relative;
    cursor: initial;
    z-index: 1001;
}

#fullWindowTimetablePopUp timetable #fullWindowTimetablePopUpCloseButton {
    position: absolute;
    background: var(--black);
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    top: -8px;
    right: -5px;
    padding: 8px 10px;
    line-height: 20px;
    color: var(--whitesmoke);
    cursor: pointer;
}

#fullWindowTimetablePopUp timetable team {
    display: inline-block;
    width: 35vw;
    height: 100%;
    overflow: auto;
    margin: 0 2vw;
}

#fullWindowTimetablePopUp timetable team span {
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    color: var(--whitecadet);
    margin: 10px 0 5px 0;
}

#fullWindowTimetablePopUp timetable team span.name {
    font-size: 32px;
    font-weight: 700;
    color: var(--whitesmoke);
    margin: 25px 0 10px 0;
}

@media (max-width: 619px) {

    .scoreBoard, .container {
        display: none;
    }

    .mobileWarning {
        width: auto;
        display: block;
        padding: 40vh 15vw;
        text-align: center;
        font-size: 25px;
        font-weight: 700;
    }

}
